xtdrew-section {
  background-color: var(--xtdrew-light2);
  color: var(--xtdrew-dark1);

  xtdrew-conts xtdrew-title svg {
    fill: var(--xtdrew-section-titles);
  }

  &.black {
    background-color: var(--xtdrew-contact-bg);
    color: var(--xtdrew-contact-fg);

    xtdrew-conts {
      xtdrew-title {
        svg {
          fill: var(--xtdrew-contact-tl);
        }
      }
    }
  }

  // for noscript page
  &.noscript {
    background-color: var(--color-red);
    color: var(--xtdrew-light1);
  }

  xtdrew-conts {
    width: 80%;
    max-width: 1280px;

    @media screen and (max-width: 720px) {
      width: 95%;
      max-width: initial;
    }

    padding: {
      top: 80px;
      bottom: 80px;
    }

    xtdrew-title {
      svg {
        height: 60px;
        width: auto;
      }

      @media screen and (max-width: 770px) {
        svg {
          height: 50px;
          width: auto;
        }
      }

      @media screen and (max-width: 600px) {
        svg {
          height: 25px;
          width: auto;
        }
      }
    }

    xtdrew-p {
      display: block;
      margin: {
        top: 2em;
        bottom: 1em;
        left: 0;
        right: 0;
      }
    }
  }
}
